<div *ngIf="privateProduct">
  <h2>
    {{privateProduct.product}}
  </h2>

  <p>
    {{privateProduct.description}}
  </p>

  <div *ngFor="let image of privateProduct.images" class="product">
    <img src="{{image.path}}">
    <p>
      {{image.description}}
    </p>
  </div>

  <p>
    {{privateProduct.details}}
  </p>

  <p>
    En möbelprodukt vi valt att sälja via möbelbutiker över hela landet. Naturligtvis hjälper vi er att hitta närmsta
    återförsäljare. Använd kontaktformuläret <a routerLink="/contact">här</a>.
  </p>
</div>
