<h2>Kökssoffor</h2>
<p>
  Kökssoffor tillverkade i utvalt massivt trä med inslag av detaljerat finsnickeriarbete är en möbelprodukt vi har valt att sälja via möbelbutiker över hela landet.
</p>
<div *ngIf="kitchenBenches && kitchenBenches.length; else noKitchenBenches">
  <div *ngFor="let kitchenBench of kitchenBenches" class="product">
    <a routerLink="/products/kitchen-benches/{{kitchenBench.id}}">
      <img src="{{kitchenBench.images[0].path}}">
    </a>
  </div>
</div>

<ng-template #noKitchenBenches>
  <p>
    Produktlistan tom.
  </p>
</ng-template>
