<div class="content">
  <div style="text-align:center">
    <a routerLink="/dashboard">
      <img class="logotype" alt="Möbelman Logo" src="assets/mobelman-logotype.png">
    </a>
  </div>
  <nav>
    <a routerLink="/dashboard">Hem</a>
    <a routerLink="/public/products">Offentlig miljö</a>
    <a routerLink="/public/church/products/">Offentlig miljö - Kyrka</a>
    <a routerLink="/private/products">Privat miljö</a>
    <a routerLink="/production">Legotillverkning</a>
    <a routerLink="/contact">Kundservice</a>
  </nav>
  <router-outlet></router-outlet>
</div>
