.content {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px 20px 20px 20px;
  font-family: 'Open Sans', sans-serif;
}

.logotype {
  width: 40%;
  min-width: 260px;
  border: 0px;
  padding: 0px 0px 15px 0px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}
