<h2>Träteknisk produktion och specialsnickerier</h2>

<p>
  Med mer än fyrtio års samlad erfarenhet av möbelproduktion och som leverantör inom offentlig inredning och
  specialsnickerier till kyrkor har vi ett unikt hantverkskunnande och en mycket hög kompetens inom trätekniska områden.
</p>

<div class="product-examples">
  <a routerLink="/public/church/products/"><img src="assets/churches/sundet/bergaortens-missionsforsamling/1.jpg"></a>
  <a routerLink="/public/products"><img src="assets/products/conference-products/stapelbar-stol-001.jpg"></a>
  <a routerLink="/public/products"><img src="assets/products/conference-products/talarstol-i-lackerad-björk.jpg"></a>
  <a routerLink="/public/products"><img src="assets/products/conference-products/bord-001.jpg"></a>
  <a routerLink="/private/products"><img src="assets/products/kitchen-benches/korsnaes_lb.jpg"></a>
  <a routerLink="/private/products"><img src="assets/products/kitchen-benches/korsnaes_oe.jpg"></a>
</div>

<app-footer></app-footer>
