<h2>Produkter för privat miljö</h2>
<p>
  Kökssoffor tillverkade i utvalt massivt trä med inslag av detaljerat finsnickeriarbete.
</p>
<p>
  En möbelprodukt vi valt att sälja via möbelbutiker över hela landet. Naturligtvis hjälper vi er att hitta närmsta
  återförsäljare. Använd kontaktformuläret <a routerLink="/contact">här</a>.
</p>
<div *ngIf="privateProducts && privateProducts.length; else noPrivateProducts">
  <div *ngFor="let privateProduct of privateProducts" class="product">
    <a routerLink="/private/products/{{privateProduct.id}}">
      <img src="{{privateProduct.images[0].path}}">
    </a>
  </div>
</div>

<ng-template #noPrivateProducts>
  <p>
    Produktlistan tom.
  </p>
</ng-template>

<app-footer></app-footer>
