<div *ngIf="kitchenBench">
  <h2>
    {{kitchenBench.product}}
  </h2>

  <p>
    {{kitchenBench.description}}
  </p>

  <div *ngFor="let image of kitchenBench.images" class="product">
    <img src="{{image.path}}">
    <p>
      {{image.description}}
    </p>
  </div>

  <p>
    {{kitchenBench.details}}
  </p>

  <p>
    Kökssoffor tillverkade i utvalt massivt trä med inslag av detaljerat finsnickeriarbete är en möbelprodukt vi har
    valt att sälja via möbelbutiker över hela landet. Naturligtvis hjälper vi Er att hitta närmsta återförsäljare -
    använd formuläret så kontaktar vi Er inom kort.
  </p>
</div>
